<%= form_with(model: merchant, local: true) do |form| %>
  <%= form.label :name %><br/>
  <%= form.text_field :name %>

  <%= form.label :address %><br/>
  <%= form.text_field :address %>

  <%= form.label :city %><br/>
  <%= form.text_field :city %>

  <%= form.label :state %><br/>
  <%= form.text_field :state %>

  <%= form.label :zip %><br/>
  <%= form.text_field :zip %>

  <% if merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
        <% merchant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
