

<%= form_with(model: item, url: :merchant_items) do |form| %>
    <% puts :merchant_items %>
  <%= form.label :name %><br/>
  <%= form.text_field :name %>
  <%= form.label :description %><br/>
  <%= form.text_field :description %>
  <%= form.label :price %><br/>
  <%= form.text_field :price %>
  <%= form.label :image %><br/>
  <%= form.text_field :image %>
  <%= form.label :active %><br/>
  <%= form.text_field :active %>
  <%= form.label :inventory %><br/>
  <%= form.text_field :inventory %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
